<!DOCTYPE html>
<html>
  <head>
    <title>OdinProjectFlickrApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex column gap-20">
      <%= yield %>

      <% if flash.any? %>
        <div class="flash align-self-center">
          <% flash.each do |type, msg| %>
            <p class="<%= type %>"><%= msg %></p>
          <% end %>
        </div>
      <% end %>
    </main>
  </body>
</html>
